.App{
  width:100%;
}

.my-btn-outline-dark{
  border:1px solid black;
  background-color: transparent;
  letter-spacing: 1px;
  transition:.3s;
  color:black;
  padding:.9rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.144);
}
.my-btn-outline-dark:hover{
  background-color: black;
  color:white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.294);
}

.my-btn-light{
  border:1px solid white;
  background-color: transparent;
  letter-spacing: 1px;
  transition:.3s;
  color:white;
  padding:.9rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
  box-shadow: 1px 1px 20px rgba(255, 254, 254, 0.144);
}
.my-btn-light:hover{
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.452);
  background-color: white;
  color:black;
}

.my-btn-white{
  border:1px solid white;
  background-color: rgba(255, 255, 255, 0.904);
  letter-spacing: 1px;
  transition:.3s;
  color:black;
  padding:.9rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
  box-shadow: 1px 1px 20px rgba(255, 254, 254, 0.198);
}
.my-btn-white:hover{
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.472);
  background-color: transparent;
  color:white;
}
.my-btn-dark{
  border:1px solid black;
  background-color: rgba(0, 0, 0, 0.904);
  letter-spacing: 1px;
  transition:.3s;
  color:rgb(255, 255, 255);
  padding:1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.116);
}
.my-btn-dark:hover{
  box-shadow: 1px 1px 20px rgba(5, 5, 5, 0.322);
  background-color: transparent;
  color:black;
}


/* responsive button */
@media only screen and (max-width: 600px) {
  .my-btn-outline-dark{
    letter-spacing:0;
    padding:.8rem 1rem;
  }
  .my-btn-light{
    letter-spacing:0;
    padding:.8rem 1rem;
  }
  .my-btn-dark{
    letter-spacing:0;
    padding:.8rem 1rem;
  }
  .my-btn-white{
    letter-spacing:0;
    padding:.8rem 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .my-btn-outline-dark{
    padding:.7rem .8rem;
  }
  .my-btn-light{
    padding:.7rem .8rem;
  }
  .my-btn-dark{
    padding:.7rem .8rem;
  }
  .my-btn-white{
    padding:.7rem .8rem;
  }
}
